.logo {
    color: #5812E7;
}

.my-nav{
}

.container-fluid {
    padding: 0% 3%;
}

.navbar-adjust {
    padding: 0% 5%;
}

#user_button {
    background-color: #5812E7;
    color: white;
    font-weight: bold;
}

#log_out_button {
    background-color: white;
    color: #5812E7;
    border: 1px solid #5812E7;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    color: #5812E7 !important;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    background-color: #F1F0F0;
}